<footer class="footer">
  <p>
    <a href="/">home</a> |
    <a href="/posts">posts</a> |
    <a href="/recipes">recipes</a> |
    <a href="mailto:{{site.email}}">report</a> |
    <a href="https://github.com/yadavcloud">github</a> |
    <a href="/sitemap.xml">sitemap</a> |
    <a href="/atom.xml">feed</a>
    <br/>
    Last updated: {{ site.time | date: '%-d-%-m-%Y %-H:%M:%S' }} <br/>
    <span class="logo y">&nbsp;</span>
    © 2012-{{ site.time | date: '%Y' }} {{site.author}} <br/>
    You can email us at {name}@yadav.cloud
  </p>
</footer>
